@using Microsoft.Ajax.Utilities
<html>
<head>
    <style id="flot-default-styles">
        .flot-tick-label {
            font-size: smaller;
            color: #545454;
        }
    </style>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="~/Content/Admin/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="~/Content/Admin/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">
    <!-- libraries -->
    <link href="~/Content/Admin/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Admin/css/lib/font-awesome.css" type="text/css" rel="stylesheet">
    <link href="~/Content/Admin/css/lib/morris.css" type="text/css" rel="stylesheet">
    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/compiled/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/compiled/elements.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/compiled/icons.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/compiled/user-profile.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/lib/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/compiled/form-showcase.css">
    <!-- this page specific styles -->
    <link rel="stylesheet" href="~/Content/Admin/css/compiled/chart-showcase.css" type="text/css" media="screen">

    <!-- open sans font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <!-- navbar -->
    <header class="navbar navbar-inverse" role="banner">
        @if (Request.IsAuthenticated)
        {
            @Html.Partial("~/Views/Shared/PartialViews/_HeaderPartialView.cshtml")
        }
    </header>
    <!-- end navbar -->
    <!-- sidebar -->
    <div id="sidebar-nav">
        @if (Request.IsAuthenticated && User.IsInRole("Student"))
        {
            @Html.Partial("~/Views/Shared/PartialViews/_StudentNavigationPartialView.cshtml")
        }
        else if (Request.IsAuthenticated && User.IsInRole("Teacher"))
        {
            @Html.Partial("~/Views/Shared/PartialViews/_TeacherNavigationPartialView.cshtml")
        }
        else if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            @Html.Partial("~/Views/Shared/PartialViews/_AdminNavigationPartialView.cshtml")
        }
    </div>
    <!-- end sidebar -->
    <!-- main container -->
    <div class="content">
        <div id="pad-wrapper">
            @RenderBody()
        </div>

    </div>
    <!-- end main container -->
    <!-- scripts for this page -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="~/Scripts/Admin/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Admin/js/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- knob -->
    <script src="~/Scripts/Admin/js/jquery.knob.js"></script>
    <!-- flot charts -->
    <script src="~/Scripts/Admin/js/jquery.flot.js"></script>
    <script src="~/Scripts/Admin/js/jquery.flot.stack.js"></script>
    <script src="~/Scripts/Admin/js/jquery.flot.resize.js"></script>
    <!-- morrisjs -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Scripts/Admin/js/morris.min.js"></script>
    <!-- call all plugins -->
    <script src="~/Scripts/Admin/js/theme.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>