@using UniversityPortal.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html class="login-bg">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap -->
    <link href="~/Content/Admin/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />
    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/compiled/layout.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/compiled/elements.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/compiled/icons.css" />
    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/css/lib/font-awesome.css" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="~/Content/Admin/css/compiled/signin.css" type="text/css" media="screen" />
    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="login-wrapper">
        <a href="index-2.html">
            <img class="logo" src="~/Content/Admin/img/logo-white.png" alt="logo" />
        </a>
        <div class="box">
            <div class="content-wrap">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    <h6>Log in</h6>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Registration Number", @required = "required" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @required = "required" })
                    <div class="remember">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @id = "remember-me" })
                        <label for="remember-me">Remember me</label>
                    </div>
                    <input type="submit" value="Sign in" class="btn-glow primary login" />
                    <input type="reset" value="Reset" class="btn-glow primary reset" />
                }
            </div>
        </div>
    </div>
    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="~/Scripts/Admin/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Admin/js/theme.js"></script>
</body>
</html>