@model UniversityPortal.Models.News

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>News</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.content)
                @Html.ValidationMessageFor(model => model.content)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mediaurl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mediaurl)
                @Html.ValidationMessageFor(model => model.mediaurl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.created_at, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.created_at)
                @Html.ValidationMessageFor(model => model.created_at)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.updated_at, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.updated_at)
                @Html.ValidationMessageFor(model => model.updated_at)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FK_updated_Author_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FK_updated_Author_id)
                @Html.ValidationMessageFor(model => model.FK_updated_Author_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fk_Author_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fk_Author_id)
                @Html.ValidationMessageFor(model => model.Fk_Author_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
