@using UniversityPortal.WebUI.HtmlHelpers

<div class="subnavbar-inner">
    <div class="container">
        <ul class="mainnav">
            <li class="active">
                <a href="index.html">
                    <i class="icon-dashboard">
                    </i>
                    <span>
                        Dashboard
                    </span>
                </a>
            </li>
            <li>
                <a href="reports.html">
                    <i class="icon-list-alt"></i>
                    <span>
                        Campus News
                    </span>
                </a>
            </li>
            <li class="subnavbar-open-right">
                <a href="guidely.html">
                    <i class="icon-facetime-video"></i>
                    <span>
                        Time Table
                    </span>
                </a>
            </li>
            <li>
                <a href="charts.html">
                    <i class="icon-bar-chart"></i>
                    <span>
                        Academics
                    </span>
                </a>
            </li>
            <li>
                <a href="shortcodes.html">
                    <i class="icon-code"></i>
                    <span>
                        Testimonials
                    </span>
                </a>
            </li>
            <li class="dropdown subnavbar-open-right">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-long-arrow-down"></i>
                    <span>
                        Utilities
                    </span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="icons.html">Download</a></li>
                    <li><a href="faq.html">Upload</a></li>
                    <li class="subnavbar-open-right"><a href="pricing.html">FAQ</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /container -->
</div>



@*<ul id="dashboard-menu">
    <li class="@Html.IfActive("Student")">
        <a href="@Url.Action("Profile","Students")">
            <i class="icon-home"></i>
            <span>Profile</span>
        </a>
    </li>
    <li class ="@Html.IfActive("")">
        <a href="@Url.Action("Index","UsersAdmin")">
            <i class="icon-user"></i>
            <span>Time Table</span>
        </a>
    </li>
    <li class="@Html.IfActive("")">
        <a href="@Url.Action()">
            <i class="icon-book"></i>
            <span>Courses</span>
        </a>
    </li>
    <li class="@Html.IfActive("")">
        <a href="@Url.Action()">
            <i class="ui-icon-notice"></i>
            <span>Notice Board</span>
        </a>
    </li>
    <li class="@Html.IfActive("")">
        <a href="@Url.Action()">
            <i class="icon-briefcase"></i>
            <span>Lectures</span>
        </a>
    </li>
    <li class="@Html.IfActive("")">
        <a href="@Url.Action()">
            <i class="icon-calendar"></i>
            <span>Academic Calendar</span>
        </a>
    </li>
    <li class="@Html.IfActive("Testimonials")">
        <a href="@Url.Action("Index","Testimonials")">
            <i class="icon-pencil"></i>
            <span>Testinomial</span>
        </a>
    </li>
    <li class="@Html.IfActive("")">
        <a href="@Url.Action()">
            <i class="icon-download"></i>
            <span>Downloads</span>
        </a>
    </li>
    <li class="@Html.IfActive("")">
        <a href="@Url.Action()">
            <i class="icon-upload"></i>
            <span>Upload</span>
        </a>
    </li>
</ul>*@
