@using UniversityPortal.WebUI.HtmlHelpers
<ul id="dashboard-menu">
    <li class="@Html.IfActive("Teachers")">
        <a href="@Url.Action("Profile", "Teachers")">
            <i class="icon-home"></i>
            <span>Profile</span>
        </a>
    </li>
    <li class="@Html.IfActive("")">
        <a href="@Url.Action("Index","UsersAdmin")">
            <i class="icon-user"></i>
            <span>Time Table</span>
        </a>
    </li>
    <li class="@Html.IfActive("")">
        <a href="@Url.Action()">
            <i class="icon-book"></i>
            <span>Courses</span>
        </a>
    </li>
    <li class="@Html.IfActive("")">
        <a href="@Url.Action()">
            <i class="ui-icon-notice"></i>
            <span>Notice Board</span>
        </a>
    </li>
    <li class="@Html.IfActive("")">
        <a href="@Url.Action()">
            <i class="icon-briefcase"></i>
            <span>Lectures</span>
        </a>
    </li>
    <li class="@Html.IfActive("")">
        <a href="@Url.Action()">
            <i class="icon-calendar"></i>
            <span>Academic Calendar</span>
        </a>
    </li>
    <li class="@Html.IfActive("Testimonials")">
        <a href="@Url.Action("Index","Testimonials")">
            <i class="icon-pencil"></i>
            <span>Testinomial</span>
        </a>
    </li>
    <li class="@Html.IfActive("")">
        <a href="@Url.Action()">
            <i class="icon-download"></i>
            <span>Downloads</span>
        </a>
    </li>
    <li class="@Html.IfActive("")">
        <a href="@Url.Action()">
            <i class="icon-upload"></i>
            <span>Upload</span>
        </a>
    </li>
</ul>