@model UniversityPortal.Models.Job

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Job</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.desc_, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.desc_)
                @Html.ValidationMessageFor(model => model.desc_)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.job_ref, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.job_ref)
                @Html.ValidationMessageFor(model => model.job_ref)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.department, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.department)
                @Html.ValidationMessageFor(model => model.department)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.location)
                @Html.ValidationMessageFor(model => model.location)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.min_salary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.min_salary)
                @Html.ValidationMessageFor(model => model.min_salary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.max_salary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.max_salary)
                @Html.ValidationMessageFor(model => model.max_salary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hours, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hours)
                @Html.ValidationMessageFor(model => model.hours)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.end_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.end_date)
                @Html.ValidationMessageFor(model => model.end_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.application_form, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.application_form)
                @Html.ValidationMessageFor(model => model.application_form)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email_to_apply, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email_to_apply)
                @Html.ValidationMessageFor(model => model.email_to_apply)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
